.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background:linear-gradient(8deg, rgba(28,25,25,1) 59%, rgba(126,47,25,1) 65%, rgba(55,226,24,0.9922035708814776) 70%, rgba(226,231,8,1) 75%, rgba(5,5,5,1) 79%);
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}