.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:linear-gradient(8deg, rgba(28,25,25,1) 37%, rgba(126,47,25,1) 44%, rgba(55,226,24,0.9922035708814776) 51%, rgba(226,231,8,1) 55%, rgba(5,5,5,1) 60%);
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}
